@media only screen and (max-width: 1000px){
    .hero-headline {
      font-size: 3rem;
    }

    .center{  
      gap: 0;
    }
}

@media only screen and (max-width: 740px){
    .menu__link{
      --menuLinkPadding: 0.6rem 1rem;    
    }

    #navCheeseSvg{
      padding-left: 8%;
    }

    .r-list{
      padding-left: 0;
    }

    .menu__list{
        justify-content: center;  
      }

    .menu__light{
      padding-bottom: 8%!important;
    }
  }

@media only screen and (max-width: 500px){
  .menu__group{
    display: none;
  }

  #navCheeseSvg{
    padding-right: 80%;
  }
}

@media only screen and (max-width: 450px){
    .hero-headline {
        font-size: 2.5rem;
      }

    .menu__link{
        --menuLinkPadding: 0.6rem 0.6rem!important;
    }

    #navCheeseSvg{
      padding-left: 0.6rem;
    }
  }