@media only screen and (max-width: 1000px){
    .prodCard{
      flex-direction: column;
    }
    
    main{
      margin-left: 7%; 
      margin-right: 7%;
      margin-top: 7%;
    }
  
    .center{  
      gap: 0;
    }
    

    .homeInfoCard{
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .homeInfoCard img{
          max-width: 80%;
          padding-right: 0px;
      }

    .pPlaceHolder{
      width: 90%;
      padding-right: 60px;
    }

    .blureReveal{
        width: 270px!important;
        left: 75%;
    }

    .blureAlternitive{ 
        left: 70%!important;
      }

    .imgHorzInverMQ{
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }

    .imgHorzInverMQ img{
        padding-left: 0;
        padding-right: 60;
    }

    .menu__link{
      --menuLinkPadding: 0.6rem 1rem;
    }

    .hero-headline {
      font-size: 3rem;
    }

    .overlay p{
      height: inherit;
    }

  }

  @media only screen and (max-width: 530px){
    p{
      font-size: .75rem;
    }
  }