*{
    margin: 0;
}

.hero-headline {
    margin: 0 0 1rem;
    animation: fadeInUp 0.7s forwards;
    opacity: 0;
    flex: 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
  
    100% {
      opacity: 1;
      transform: translateY(-18px);
    }
  }